<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LoongEgg.Converters" version="1.2.3" targetFramework="net45" />
  <package id="LoongEgg.Core" version="1.0.0" targetFramework="net45" />
  <package id="LoongEgg.Log" version="0.1.1" targetFramework="net45" />
  <package id="LoongEgg.LoongLog" version="2.1.0" targetFramework="net45" />
  <package id="LoongEgg.SharpExtensions" version="1.0.0" targetFramework="net45" />
  <package id="LoongEgg.Udp" version="0.1.1" targetFramework="net45" />
</packages>